@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 39 100% 50%;
    --primary-foreground: 215 50% 11%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 39 100% 55%;
    --accent-foreground: 215 50% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 39 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 29% 24%;
    --foreground: 0 0% 98%;
    --card: 215 50% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 215 50% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 39 100% 50%;
    --primary-foreground: 215 50% 11%;
    --secondary: 215 50% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 50% 15%;
    --muted-foreground: 215 20% 65%;
    --accent: 39 100% 55%;
    --accent-foreground: 215 50% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 50% 21%;
    --input: 215 50% 21%;
    --ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.ReactCrop__crop-selection {
    border: 2px dashed hsl(var(--primary));
}

.ReactCrop__handle {
    background-color: hsl(var(--primary));
    border-radius: 9999px;
    border: 2px solid hsl(var(--background));
    width: 12px;
    height: 12px;
}
